@model IEnumerable<HouseFlipper.DataAccess.Models.FlippedCharacteristics>

@{
    ViewBag.Title = "Flips: Subdivision";
}

<h2>Flips: Subdivision</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubDivision)
        </th>               
        <th>
            @Html.DisplayNameFor(model => model.PreFlip.Beds)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreFlip.FullBaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreFlip.HalfBaths)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreFlip.SqFtHeated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PreFlip.YearBuilt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profit)
        </th>
        <th>
            PurchasePrice
        </th>
        <th>
            SoldPrice
        </th>
        <th>
            ROIP
        </th>
        <th>
            ROIS
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubDivision)
        </td>               
        <td>
            @Html.DisplayFor(modelItem => item.PostFlip.Beds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostFlip.FullBaths)
        </td>
        <td>
            @Html.DisplayFor(model => item.PostFlip.HalfBaths)
        </td>
        <td>
            @Html.DisplayFor(model => item.PostFlip.SqFtHeated)
        </td>
        <td>
            @Html.DisplayFor(model => item.PostFlip.YearBuilt)
        </td>
        <td>
            @Html.DisplayFor(model => item.Profit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PreFlip.PriceStr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostFlip.PriceStr)
        </td>
        <td>
            @Html.DisplayFor(model => item.RoiPurchase)
        </td>
        <td>
            @Html.DisplayFor(model => item.RoiSold)
        </td>
    </tr>
}

</table>
