@model IEnumerable<HouseFlipper.DataAccess.DB.Listing>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<table class="table">
    <tr>
        <th>
            ML #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            Zip
        </th>
        <th>
            SubDiv
        </th>
        <th>
            SqFt
        </th>
        <th>
            Price
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Beds)
        </th>
        <th>
            Full
        </th>
        <th>
            Half
        </th>
        <th>
            Year
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pool)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.PropertyStyle)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Taxes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CDOM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADOM)
        </th>
        <th>
            DTC
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.SoldTerms)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CloseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LPSqFt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPSqFt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SPLP)
        </th>
        @*<th>
        @Html.DisplayNameFor(model => model.ListOfficeName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ListAgentFullName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.ListAgentID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SellingAgentName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SellingOfficeID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.SellingAgentID)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LSCListSide)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.OfficePrimaryBoardID)
    </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MLNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostalCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LegalSubdivisionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SqFtHeated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Beds)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullBaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HalfBaths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearBuilt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pool)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.PropertyStyle)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Taxes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CDOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADOM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaystoContract)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.SoldTerms)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.CloseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LPSqFt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPSqFt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SPLP)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ListOfficeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListAgentFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListAgentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingAgentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingOfficeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SellingAgentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LSCListSide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OfficePrimaryBoardID)
        </td>*@
        <td>
            @Html.ActionLink("Details", "Details", "Listings", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
