@model HouseFlipper.DataAccess.Models.Homes
@{
    ViewBag.Title = "Active Homes";
}

<h3>Active Homes - @Html.DisplayFor(m => m.Zipcode) </h3>

@using (Html.BeginForm())
{
    <table class="table">
        <tr>           
            <th>
                @Html.ActionLink("Address","Homes", new { id = @Model.Zipcode, sortOrder = "Address", filter="active"})
            </th>
            <th>
                @Html.ActionLink("City","Homes", new { id = @Model.Zipcode, sortOrder = "City", filter="active"})
            </th>
            <th>
                @Html.ActionLink("Subdivision","Homes", new { id = @Model.Zipcode, sortOrder = "LegalSubdivisionName", filter="active"})
            </th>
            <th align="center">
                @Html.ActionLink("Beds","Homes", new { id = @Model.Zipcode, sortOrder = "Beds", filter="active"})
            </th>
            <th align="center">
                @Html.ActionLink("Full","Homes", new { id = @Model.Zipcode, sortOrder = "FullBaths", filter="active"})
            </th>
            <th align="center">
                @Html.ActionLink("Half","Homes", new { id = @Model.Zipcode, sortOrder = "HalfBaths", filter="active"})
            </th>
            <th>
                @Html.ActionLink("Year","Homes", new { id = @Model.Zipcode, sortOrder = "YearBuilt", filter="active"})
            </th>
            <th>
                @Html.ActionLink("Pool","Homes", new { id = @Model.Zipcode, sortOrder = "Pool", filter="active"})
            </th>
            <th>
                @Html.ActionLink("Current Price","Homes", new { id = @Model.Zipcode, sortOrder = "CurrentPrice", filter="active"})
            </th>
            <th>
                @Html.ActionLink("ARV","Homes", new { id = @Model.Zipcode, sortOrder = "AfterRepairValue", filter="active"})
            </th>
            <th>
                @Html.ActionLink("Profit","Homes", new { id = @Model.Zipcode, sortOrder = "PotentialProfitValue", filter="active"})
            </th>
            <th>
                @Html.ActionLink("SqFt","Homes", new { id = @Model.Zipcode, sortOrder = "SqFtHeated", filter="active"})
            </th>
            <th>
                @Html.ActionLink("LP/SqFt","Homes", new { id = @Model.Zipcode, sortOrder = "LPSqFt", filter="active"})
            </th>
            <th>
                @Html.ActionLink("ROI","Homes", new { id = @Model.Zipcode, sortOrder = "PotentialROIPurchaseValue", filter="active"})
            </th>
            <th align="center">
                @Html.ActionLink("ADOM", "Homes", new { id = @Model.Zipcode, sortOrder = "ADOMNumValue", filter = "active" })
            </th>
        </tr>

        @foreach (HouseFlipper.DataAccess.DB.Listing item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LegalSubdivisionName)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Beds)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.FullBaths)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.HalfBaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearBuilt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.AfterRepair)
                </td>  
                <td>
                    @Html.DisplayFor(modelItem => item.PotentialProfit)
                </td>            
                <td>
                    @Html.DisplayFor(modelItem => item.SqFtHeated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LPSqFtNumValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PotentialROI)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.ADOM)
                </td>
            </tr>
        }

    </table>
}
