@model IEnumerable<HouseFlipper.DataAccess.Models.MlsRow>

@{
    ViewBag.Title = "Active Similar By Zipcode";
}

<h2>Active Homes By Zipcode (Similar to PreFlip)</h2>

@using (Html.BeginForm())
{
    <table>      
        <tr>
            <td>
                Contains @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            </td>                        
            <td>
                Within @Html.TextBox("TxtWithinPercent", ViewBag.WithinPercent as string) % of Flip Price
            </td>
            <td>
                <input type="submit" value="Search" />
            </td>
        </tr>


    </table>
    <table class="table">
        <tr>
            <th>
                Zipcode
            </th>
            <th>
                Subdivision
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beds)
            </th>
            <th>
                Full
            </th>
            <th>
                Half
            </th>
            <th>
                Year
            </th>
            <th>
                Pool
            </th>
            <th>
                Price
            </th>
            <th>
                PreFlip(Avg Price)
            </th>
            <th>
                Within %
            </th>
            <th>
                SqFt
            </th>
            <th>
                LP/SqFt
            </th>
            <th>
                Prelip(Avg LP/SqFt)
            </th>
            <th>
                PostFlip(Avg SP/SqFt)
            </th>
            <th>
                ARV
            </th>
            <th>
                Profit
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LegalSubdivisionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Beds)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullBaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HalfBaths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearBuilt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pool)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreFlipAvgPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WithinPreFlipPercent)%
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SqFtHeated)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LPSqFt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PreFlipAvgLPSqFt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostFlipAvgSPSqFt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AfterRepairValue)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PotentialProfit)
                </td>
                <td style="white-space:nowrap">
                    @Html.ActionLink("Details", "Details", new { id = item.ID })
                </td>
            </tr>
       }

    </table>
 }